#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;

  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  //   Incase I want to make a background img
  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respone(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;
    @include respone(tab-land) {
      font-size: 4rem;
    }
    @include respone(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respone(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respone(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;
    @include respone(tab-port) {
      justify-content: center;
    }
    & a {
      font-size: 2.4rem;

      @include respone(phone) {
        font-size: 2rem;
      }
    }
  }
}
