// Media Query
/*
0 - 600px:          phone
600px - 900px:      Table Portrait
900px - 1200px:     Table Landscape
1200px - 1800px:    Desktop
1800 +:             Big Desktop

1em = 16px
1rem = 10px
Order: Base + Typography > Generar Layout + Grid > Page Layout > Components
*/

// Create function @mixin function($arg){ ... }

// Media Query
@mixin respone($breakpoint) {
  // Phone-xs 0 - 320px
  @if $breakpoint == phone-xs {
    @media (max-width: 20em) {
      @content;
      // @content allow to pass other content inside
    }
  }
  @if $breakpoint == phone {
    // phone 0 - 600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port-sm {
    // tablet Small 768px
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // Tablet Portrait 900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // Table Landscape 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // Big desktop 1800px +
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

// Border White Mixin
@mixin section-borders {
  border: 1.5rem soild #fff;
  border-top: 0;
  border-bottom: 0;
}

// This may not needed
@mixin supportColorForIE11 {
  // Fall for text-gradient not supported in IE11
  color: $secondary-color;
  -webkit-text-fill-color: $secondary-color; // fallback
  // This mean that if the brower support the feature where text can has graident color

  // To set text with gradient color:
  // background-image: <Gradient>;
  // background-clip: text
  // text-fill-color: transparant

  @supports (-webkit-background-clip: text) or (background-clip: text) {
    background-image: linear-gradient(
      135deg,
      $primary-color 0%,
      $secondary-color 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@mixin supportIE11 {
  // Provide your basic styles to support IE11
  @media screen and (-ms-high-contrast: active),
    screen and (-ms-high-contrast: none) {
    @content;
  }
}
